.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 items
    %ol.breadcrumb
      %li= link_to "トップ", admin_items_path
      %li.active
        %strong 一覧
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 item
      .ibox-content
        %table.table.table-align-middle
          %thead
            %tr
              %th id
              %th 画像
              %th 名前
              %th 作成日時
          %tbody
            - @items.each do |item|
              %tr
                %td= item.id
                %td= image_tag "", height: "40px"
                %td= item.name
                %td= item.created_at.strftime("%c")
                %td
                  - if item.reported
                    = link_to "報告された商品", unreported_admin_item_path(item), method: :put, data: { confirm: '報告されたことを解除します、よろしいですか？' }, class: "btn btn-info btn-sm"
                  = link_to "詳細", item_path(item), class: "btn btn-default btn-sm"
                  = link_to "警告をする", warning_admin_item_path(item), method: :post, class: "btn btn-warning btn-sm"
                  = link_to "削除", admin_item_path(item), method: :delete, data: { confirm: 'この処理は戻れません、よろしいですか？' }, class: "btn btn-danger btn-sm"
