%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %span
            = image_tag "admin_cover.png", width: '40px', class: "img-circle img-responsive"
          %a.dropdown-toggle{"data-toggle"=>"dropdown", href: "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold User Name
              %span.text-muted.text-xs.block User Permission
        .logo-element IN+
      %li{class: is_active_controller_and_action('admin/dashboards', 'index')}
        = link_to admin_path do
          %i.fa.fa-th-large
          %span.nav-label dashboards
      %li{class: is_active_controller('admin/users')}
        %a
          %i.fa.fa-user
          %span.nav-label= t('activerecord.models.user')
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{class: is_active_controller_and_action('admin/users', 'index')}= link_to "一覧", admin_users_path
      %li{class: is_active_controller('admin/items')}
        %a
          %i.fa.fa-gear
          %span.nav-label= t('activerecord.models.item')
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{class: is_active_controller_and_action('admin/items', 'index')}= link_to "一覧", admin_items_path
      %li{class: is_active_controller('admin/notifications')}
        %a
          %i.fa.fa-exclamation-triangle
          %span.nav-label= t('activerecord.models.notification')
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{class: is_active_controller_and_action('admin/notifications', 'index')}= link_to "一覧", admin_notifications_path
      %li{class: is_active_controller('admin/black_lists')}
        %a
          %i.fa.fa-book
          %span.nav-label= t('activerecord.models.black_list')
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{class: is_active_controller_and_action('admin/black_lists', 'index')}= link_to "一覧", admin_black_lists_path
      %li{class: is_active_controller('admin/inquiries')}
        %a
          %i.fa.fa-bell-o
          %span.nav-label= t('activerecord.models.inquiry')
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{class: is_active_controller_and_action('admin/inquiries', 'index')}= link_to "一覧", admin_inquiries_path
      %li{class: is_active_controller('admin/transactions')}
        %a
          %i.fa.fa-credit-card-alt
          %span.nav-label= t('activerecord.models.trades')
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{class: is_active_controller_and_action('admin/trades', 'index')}= link_to "一覧", admin_trades_path
