.l-side
  %nav.mypage-nav
    %ul.mypage-nav-list
      %li
        = link_to mypage_dashboard_path, class: "mypage-nav-list-item" do
          マイページ
          %i.icon-arrow-right
      %li
        = link_to mypage_notification_path, class: "mypage-nav-list-item" do
          お知らせ
          %i.icon-arrow-right
      %li
        = link_to mypage_to_do_list_path, class: "mypage-nav-list-item" do
          やることリスト
          %i.icon-arrow-right
      %li
        = link_to mypage_favorite_list_path, class: "mypage-nav-list-item" do
          いいね！一覧
          %i.icon-arrow-right
      %li
        = link_to "", class: "mypage-nav-list-item" do
          出品する
          %i.icon-arrow-right
      %li
        = link_to mypage_ex_exhibiting_path, class: "mypage-nav-list-item" do
          出品した商品 - 出品中
          %i.icon-arrow-right
      %li
        = link_to mypage_ex_trading_path, class: "mypage-nav-list-item" do
          出品した商品 - 取引中
          %i.icon-arrow-right
      %li
        = link_to mypage_ex_settle_path, class: "mypage-nav-list-item" do
          出品した商品 - 売却済み
          %i.icon-arrow-right
      %li
        = link_to mypage_pur_trading_path, class: "mypage-nav-list-item" do
          購入した商品 - 取引中
          %i.icon-arrow-right
      %li
        = link_to mypage_pur_past_trade_path, class: "mypage-nav-list-item" do
          購入した商品 - 過去の取引
          %i.icon-arrow-right
      %li
        = link_to mypage_reviews_path, class: "mypage-nav-list-item" do
          評価一覧
          %i.icon-arrow-right
      -# %li
      -#   %a.mypage-nav-list-item{:href => "/jp/mypage/support/"}
      -#     お問い合わせ
      -#     %i.icon-arrow-right
    %h3.mypage-nav-head 設定
    %ul.mypage-nav-list
      %li
        = link_to mypage_profile_path, class: "mypage-nav-list-item" do
          プロフィール
          %i.icon-arrow-right
      %li
        = link_to mypage_mail_password_path, class: "mypage-nav-list-item" do
          メール/パスワード
          %i.icon-arrow-right
      %li
        = link_to mypage_logout_path, class: "mypage-nav-list-item" do
          ログアウト
          %i.icon-arrow-right
