.l-content
  %section.item-box-container
    %h2.item-name=@item.name
    .item-main-content.clearfix
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{:style => "left: -300px; width: 600px;"}
              .owl-item{:style => "width: 300px;"}
                = image_tag @item.item_images.first.image_url, class: "owl-lazy",style: "opacity: 1;"
              .owl-item.active{:style => "width: 300px;"}
                = image_tag @item.item_images.first.image_url, class: "owl-lazy",style: "opacity: 1;"
          .owl-nav.disabled
            .owl-prev prev
            .owl-next next
          .owl-dots
            .owl-dot
              - @item.item_images.each do |image|
                %span
                = image_tag image.image_url
            -# .owl-dot.active
            -#   %span
            -#   %img{"data-pin-nopin" => "true", :src => "https://static-mercari-jp-imgtr2.akamaized.net/photos/m513151689_2.jpg?1476818052"}/
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to @exhibitor.name, @exhibitor
              %div
                .item-user-ratings
                  %i.icon-good
                  %span= @exhibitor.good_evaluation_count
                .item-user-ratings
                  %i.icon-normal
                  %span= @exhibitor.neutral_evaluation_count
                .item-user-ratings
                  %i.icon-bad
                  %span= @exhibitor.bad_evaluation_count
          %tr
            %th カテゴリー
            %td
              = link_to @item.college.name, ""
              = link_to @item.depertment.name, ""
              = link_to @item.undergraduate.name, ""
          %tr
            %th 商品の状態
            %td= @item.preservation_status
          %tr
            %th 発送日の目安
            %td 1~2日で発送
    .item-price-box.text-center
      %span.item-price.bold= number_to_currency(@item.price, unit: "¥", precision: 0)
    = link_to "購入", "", class: "item-buy-btn f18-24", "data-client" => "hidden"
    .item-buy-btn-client{"data-client" => "visible"}
      = link_to "購入ページへ", ""
    .item-description.f14
      = br @item.description
    -# .item-button-container.clearfix
    -#   .item-button-left
    -#     %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m513151689", "data-toggle" => "like", :name => "like!", :type => "button"}
    -#       %i.icon-like-border
    -#       %span いいね!
    -#       %span.fade-in-down{"data-num" => "like"} 0
    -#     %a.item-button.item-button-report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
    -#       %i.icon-flag
    -#       %span 不適切な商品の報告
    -#     %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m513151689/"}/
    -#     %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m513151689/"}/
    -#     %input{:name => "__csrf_value", :type => "hidden", :value => "cd66b1010940ea4320a076f9e2637486ebb99adde18c2e35ac2664d3221a3f4f48d04e5670bd5c38e5a2956a935f6cef7ca60bdbb76f970a7f48be490985d6ab"}/
    -#   .item-button-right
    -#     %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
    -#       %i.icon-lock
    -#       %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-container
      .message-content
        %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "cd66b1010940ea4320a076f9e2637486ebb99adde18c2e35ac2664d3221a3f4f48d04e5670bd5c38e5a2956a935f6cef7ca60bdbb76f970a7f48be490985d6ab"}/
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{:name => "item_id", :type => "hidden", :value => "m513151689"}/
          %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
          %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
          %button.message-submit.btn-default.btn-red{:type => "submit"}
            %i.icon-message
            %span コメントする
      %aside.modal{"data-close" => "modal", "data-modal" => "delete-comment"}
        .modal-inner.modal-banner
          .modal-body
            .modal-head.bold 確認
            %div{"data-comment" => "body"}
            %br/
            本当にこのコメントを削除してよろしいですか？
          %form{:action => "https://www.mercari.com/jp/comment/delete/", :method => "POST"}
            .clearfix
              .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
              %button.modal-btn.modal-btn-submit{:type => "submit"}
                削除する
            %input{:name => "item_id", :type => "hidden", :value => "m513151689"}/
            %input{:name => "comment_id", :type => "hidden", :value => ""}/
            %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
            %input{:name => "__csrf_value", :type => "hidden", :value => "cd66b1010940ea4320a076f9e2637486ebb99adde18c2e35ac2664d3221a3f4f48d04e5670bd5c38e5a2956a935f6cef7ca60bdbb76f970a7f48be490985d6ab"}/
  -# %section.items-box-container.clearfix.items-box-overflow
  -#   %h2.items-box-head
  -#     %a{:href => "https://www.mercari.com/jp/u/595574421/"} ももえさんのその他の出品
  -#   .items-box-content.clearfix
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m376509003/"}
  -#         %figure.items-box-photo
  -#           %img.lazyloaded{:alt => "新品☆送料無料☆百合紋章UV400レンズ入り伊達メガネ ユニセックスモデル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m376509003_1.jpg?1476818474", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m376509003_1.jpg?1476818474"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 新品☆送料無料☆百合紋章UV400レンズ入り伊達メガネ ユニセックスモデル
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 999
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m700709442/"}
  -#         %figure.items-box-photo
  -#           %img.lazyloaded{:alt => "新品チタンイオンスポーツネックレス★送料無料", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m700709442_1.jpg?1476817630", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m700709442_1.jpg?1476817630"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 新品チタンイオンスポーツネックレス★送料無料
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 888
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m751847307/"}
  -#         %figure.items-box-photo
  -#           %img.lazyloaded{:alt => "三代目JSB着用タイプ人気のビーズブレスレット2本セット", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m751847307_1.jpg?1476817208", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m751847307_1.jpg?1476817208"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 三代目JSB着用タイプ人気のビーズブレスレット2本セット
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 999
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m246508171/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "新品☆クロスモチーフヘアゴム ブレスレット クロムハーツ好き3代目JSB好きに", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m246508171_1.jpg?1476816786"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 新品☆クロスモチーフヘアゴム ブレスレット クロムハーツ好き3代目JSB好きに
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 680
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m153652871/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "新品☆人気のドラマ怪盗山猫で亀梨和也着用タイプサングラス", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m153652871_1.jpg?1476816364"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 新品☆人気のドラマ怪盗山猫で亀梨和也着用タイプサングラス
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 999
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m749673461/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "2本セット新品☆ミラーサングラス", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m749673461_1.jpg?1476815941"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 2本セット新品☆ミラーサングラス
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 999
  -# %section.items-box-container.clearfix.items-box-overflow
  -#   %h2.items-box-head
  -#     %a{:href => "https://www.mercari.com/jp/category/265/"}
  -#       腕時計(アナログ) （レディース） その他の商品
  -#   .items-box-content.clearfix
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m482614109/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "【超絶人気】オシャレ　腕時計☆ピンク", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m482614109_1.jpg?1476818619"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 【超絶人気】オシャレ　腕時計☆ピンク
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 840
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m812959243/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "◆TVや雑誌で大人気♦︎ぐるぐる回るキラキラ時計◆在庫わずか", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m812959243_1.jpg?1476818601"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 ◆TVや雑誌で大人気♦︎ぐるぐる回るキラキラ時計◆在庫わずか
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 7,000
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m636023089/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "最安値！即購入OK☆オシャレ　腕時計☆ライトブルー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m636023089_1.jpg?1476818593"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 最安値！即購入OK☆オシャレ　腕時計☆ライトブルー
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 840
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m129628258/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "☆ミサンガウォッチ ボヘミアン ブレスレット風 腕時計☆", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m129628258_1.jpg?1476818581"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 ☆ミサンガウォッチ ボヘミアン ブレスレット風 腕時計☆
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 780
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m593669869/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "腕時計 ウォッチ ユニセックス メンズ レディース かっこいい かわいい スーツ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m593669869_1.jpg?1476818564"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 腕時計 ウォッチ ユニセックス メンズ レディース かっこいい かわいい スーツ
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 1,480
  -#     %section.items-box
  -#       %a{:href => "https://item.mercari.com/jp/m435333105/"}
  -#         %figure.items-box-photo
  -#           %img.lazyload{:alt => "大人気！カラー5色展開！アンティーク腕時計♪レトロ☆", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m435333105_1.jpg?1476818555"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 大人気！カラー5色展開！アンティーク腕時計♪レトロ☆
  -#           .items-box-num.clearfix
  -#             .items-box-price.font-5 ¥ 930
  -# %aside.modal{"data-close" => "modal", "data-modal" => "report-item"}
  -#   .modal-inner.modal-banner
  -#     .modal-body
  -#       .modal-head.bold 確認
  -#       不適切な商品を報告しますか？
  -#     .clearfix
  -#       .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
  -#       %a{:href => "https://www.mercari.com/jp/report/m513151689/"}
  -#         %button.modal-btn.modal-btn-submit はい
