.l-content
  %section.item-box-container
    %h2.item-name=@item.name
    .item-main-content.clearfix
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{:style => "left: -300px; width: 600px;"}
              -# .owl-item{:style => "width: 300px;"}
              -#   = image_tag @item.item_images.first.image_url, class: "owl-lazy",style: "opacity: 1;"
              -# .owl-item.active{:style => "width: 300px;"}
              -#   = image_tag @item.item_images.first.image_url, class: "owl-lazy",style: "opacity: 1;"
          .owl-nav.disabled
            .owl-prev prev
            .owl-next next
          .owl-dots
            .owl-dot
              - @item.item_images.each do |image|
                %span
                = image_tag image.image_url
            -# .owl-dot.active
            -#   %span
            -#   %img{"data-pin-nopin" => "true", :src => "https://static-mercari-jp-imgtr2.akamaized.net/photos/m513151689_2.jpg?1476818052"}/
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to @exhibitor.name, @exhibitor
              %div
                .item-user-ratings
                  %i.icon-good
                  %span= @exhibitor.good_evaluation_count
                .item-user-ratings
                  %i.icon-normal
                  %span= @exhibitor.neutral_evaluation_count
                .item-user-ratings
                  %i.icon-bad
                  %span= @exhibitor.bad_evaluation_count
          %tr
            %th カテゴリー
            %td
              = link_to @item.college.name, ""
              = link_to @item.depertment.name, ""
              = link_to @item.undergraduate.name, ""
          %tr
            %th 商品の状態
            %td= @item.preservation_status
          %tr
            %th 発送日の目安
            %td 1~2日で発送
    .item-price-box.text-center
      %span.item-price.bold= number_to_currency(@item.price, unit: "¥", precision: 0)
    = link_to "購入", "", class: "item-buy-btn f18-24", "data-client" => "hidden"
    .item-buy-btn-client{"data-client" => "visible"}
      = link_to "購入ページへ", ""
    .item-description.f14
      = br @item.description
    -# .item-button-container.clearfix
    -#   .item-button-left
    -#     %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m513151689", "data-toggle" => "like", :name => "like!", :type => "button"}
    -#       %i.icon-like-border
    -#       %span いいね!
    -#       %span.fade-in-down{"data-num" => "like"} 0
    -#     %a.item-button.item-button-report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
    -#       %i.icon-flag
    -#       %span 不適切な商品の報告
    -#     %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m513151689/"}/
    -#     %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m513151689/"}/
    -#     %input{:name => "__csrf_value", :type => "hidden", :value => "cd66b1010940ea4320a076f9e2637486ebb99adde18c2e35ac2664d3221a3f4f48d04e5670bd5c38e5a2956a935f6cef7ca60bdbb76f970a7f48be490985d6ab"}/
    -#   .item-button-right
    -#     %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
    -#       %i.icon-lock
    -#       %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-container
      .message-content
        %ul.message-items
          - @comments.each do |comment|
            - if comment.user.is_exhibitor?(@item)
              %li.clearfix.message-self
                = link_to @item.user, class: "message-user" do
                  %figure
                    %div
                      = image_tag comment.user.image_url
                    %figcaption.bold= comment.user.name
                  .message-is-seller.message-is-seller-self 出品者
                .message-body
                  .message-body-text
                    = comment.content
                  .message-icons.clearfix
                    %time.message-icon-left
                      %i.icon-time
                      %span 0 秒前
                    .message-icon-right
                      .message-delete{"data-comment-id" => "805229883", "data-modal" => "delete-comment", "data-open" => "modal"}
                        %i.icon-delete
                  %i.icon-balloon
            - else
      .message-content
        - if logged_in?
          = form_for @comment, html: { class: "message-form" } do |f|
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.hidden_field :item_id, value: @item.id
            = f.hidden_field :user_id, value: current_user.id
            = f.text_area :content, class: "textarea-default"
            %button.message-submit.btn-default.btn-red{:type => "submit"}
              %i.icon-message
              %span コメントする
        - else
          %button.message-submit.btn-default.btn-red{:type => "submit"}
            %i.icon-message
            %span= link_to "コメントするにはユーザ登録が必要です", new_user_path, style: "color: white;"
      -# %aside.modal{"data-close" => "modal", "data-modal" => "delete-comment"}
      -#   .modal-inner.modal-banner
      -#     .modal-body
      -#       .modal-head.bold 確認
      -#       %div{"data-comment" => "body"}
      -#       %br/
      -#       本当にこのコメントを削除してよろしいですか？
      -#     %form{:action => "https://www.mercari.com/jp/comment/delete/", :method => "POST"}
      -#       .clearfix
      -#         .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
      -#         %button.modal-btn.modal-btn-submit{:type => "submit"}
      -#           削除する
      -#       %input{:name => "item_id", :type => "hidden", :value => "m513151689"}/
      -#       %input{:name => "comment_id", :type => "hidden", :value => ""}/
      -#       %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
      -#       %input{:name => "__csrf_value", :type => "hidden", :value => "cd66b1010940ea4320a076f9e2637486ebb99adde18c2e35ac2664d3221a3f4f48d04e5670bd5c38e5a2956a935f6cef7ca60bdbb76f970a7f48be490985d6ab"}/

  -# %aside.modal{"data-close" => "modal", "data-modal" => "report-item"}
  -#   .modal-inner.modal-banner
  -#     .modal-body
  -#       .modal-head.bold 確認
  -#       不適切な商品を報告しますか？
  -#     .clearfix
  -#       .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
  -#       %a{:href => "https://www.mercari.com/jp/report/m513151689/"}
  -#         %button.modal-btn.modal-btn-submit はい
