%section.mypage-tab-container
  %h2.mypage-tab-head 出品した商品
  %ul.listing-tabs
    = render 'mypage/tabs'
  .tab-content
    %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
      - unless @settleds.empty?
        - @settleds.each do |settled|
          %li
            = link_to item_path(settled), class: "mypage-item-link" do
              %figure
                = image_tag ""
              .mypage-item-body
                .mypage-item-text
                  = settled.description.truncate(30)
                %div
                  %span.listing-item-count
                    %i.icon-like-border
                    %span= settled.favorites.count
                  %span.listing-item-count
                    %i.icon-message
                    %span= settled.comments.count
                  .mypage-item-status.bold.awaiting
                    取引完了
              %i.icon-arrow-right
      - else
        %li.mypage-item-not-found.bold　取引完了の商品がありません
