:ruby
  @all_college    = College.all
  @all_depertment = @all_college.includes(:depertments)
%header.sp-header.visible-sp
  .sp-header-inner.clearfix
    %h1
      = link_to "buybye", root_path
    .sp-header-user-nav.clearfix
      = link_to root_path do
        %figure
          buybye
          %figcaption
            1
      %form.sp-header-form{:action => "https://www.mercari.com/jp/search/"}
        %input.sp-header-search.input-default{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
        %i.icon-search
  %nav.sp-header-nav
    %ul
      %li
        - College.includes(:depertments) do |depertment|
          = link_to depertment.name, "", "data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_#{depertment.name}"
      %li
        %a.active-category{"data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_ブランド一覧", :href => "https://www.mercari.com/jp/brand/"} ブランド一覧
%header.pc-header.visible-pc
  .pc-header-inner
    .clearfix
      %h1.l-left
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg"}/
      %form.pc-header-form.l-right{:action => "https://www.mercari.com/jp/search/"}
        %input.input-default{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
        %i.icon-search
    .pc-header-nav-box.clearfix
      %nav.l-left
        %ul.pc-header-nav
          %li
            %h2
              %a.pc-header-nav-root{:href => "https://www.mercari.com/jp/category/"} 大学
            %ul.pc-header-nav-parent-wrap{"data-mega" => "1"}
              - College.all.each do |college|
                %li.pc-header-nav-parent
                  %h3
                    = link_to college.name, "", class: "pc-header-nav-root"
                  %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
                    %li.pc-header-nav-child
                      - college.depertments.all.each do |depertment|
                        = link_to depertment.name, ""
                        %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                          %li.pc-header-nav-grand-child
                            - depertment.undergraduates.all.each do |undergraduate|
                              = link_to undergraduate.name, ""
      .l-right
        %ul.pc-header-user-nav
          %li
            = link_to "", "", calss: "sp-header-user-icon pc-header-nav-root"
            %a.sp-header-user-icon.pc-header-nav-root{:href => "https://www.mercari.com/jp/mypage/"}
              %figure
                %div
                  = image_tag "", width: 32
              %div マイページ
            .pc-header-user-box.pc-header-mypage-box
              .pc-header-mypage-state.text-center
                %figure
                  %div
                    = image_tag "", width: 60
                  %figcaption yoheisenju
                %ul.pc-header-mypage-review-listing
                  %li
                    %a{:href => "https://www.mercari.com/jp/mypage/review/history/"} 評価: 2
                  %li
                    %a{:href => "https://www.mercari.com/jp/mypage/listings/listing/"} 出品数: 0
                %ul.pc-header-mypage-sales-point
                  %li
                    %a.clearfix{:href => "https://www.mercari.com/jp/mypage/sales/"}
                      .l-left 売上金
                      .l-right
                        %i.icon-arrow-right
              %ul.mypage-nav-list
                %li
                  %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/like/history/"}
                    いいね！一覧
                    %i.icon-arrow-right
                %li
                  %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/listings/listing/"}
                    出品した商品 - 出品中
                    %i.icon-arrow-right
                %li
                  %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/listings/in_progress/"}
                    出品した商品 - 取引中
                    %i.icon-arrow-right
                %li
                  %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/listings/completed/"}
                    出品した商品 - 売却済み
                    %i.icon-arrow-right
                %li
                  %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/purchase/"}
                    購入した商品 - 取引中
                    %i.icon-arrow-right
                %li
                  %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/purchased/"}
                    購入した商品 - 過去の取引
                    %i.icon-arrow-right
          %li{"data-id" => "pc-header-user-nav", "data-key" => "notification_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
            %a.pc-header-nav-root{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/notification/"}
              %i.icon-bell
              %span お知らせ
              .pc-header-nav-count
                1
            %ul.pc-header-user-box.pc-header-notification-box.mypage-item-list{"data-id" => "pc-header-user-items"}
          %li{"data-id" => "pc-header-user-nav", "data-key" => "todo_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
            %a.pc-header-nav-root{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/todo/"}
              %i.icon-check
              %span やることリスト
            %ul.pc-header-user-box.pc-header-todo-box.mypage-item-list{"data-id" => "pc-header-user-items"}
