:ruby
  @colleges = College.includes(:depertments).includes(:undergraduates)
%header.sp-header.visible-sp
  .sp-header-inner.clearfix
    %h1
      = link_to "buybye", root_path
    .sp-header-user-nav.clearfix
      = link_to root_path do
        %figure
          buybye
          %figcaption
            1
      %form.sp-header-form{:action => "https://www.mercari.com/jp/search/"}
        %input.sp-header-search.input-default{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
        %i.icon-search
  %nav.sp-header-nav
    %ul
      %li
        - @colleges.first.depertments do |depertment|
          = link_to depertment.name, "", "data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_#{depertment.name}"
      %li
        %a.active-category{"data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_ブランド一覧", :href => "https://www.mercari.com/jp/brand/"} ブランド一覧
%header.pc-header.visible-pc
  .pc-header-inner
    .clearfix
      %h1.l-left
        = link_to root_path do
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg"}/
      %form.pc-header-form.l-right{:action => "https://www.mercari.com/jp/search/"}
        %input.input-default{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
        %i.icon-search
    .pc-header-nav-box.clearfix
      %nav.l-left
        %ul.pc-header-nav
          %li
            %h2
              %a.pc-header-nav-root{:href => "https://www.mercari.com/jp/category/"} 大学
            %ul.pc-header-nav-parent-wrap{"data-mega" => "1"}
              - @colleges.each do |college|
                %li.pc-header-nav-parent
                  %h3
                    = link_to college.name, "", class: "pc-header-nav-root"
                  %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
                    %li.pc-header-nav-child
                      - college.depertments.each do |depertment|
                        = link_to depertment.name, ""
                        %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                          %li.pc-header-nav-grand-child
                            - college.undergraduates.each do |undergraduate|
                              = link_to undergraduate.name, ""
      .l-right
        - if logged_in?
          %ul.pc-header-user-nav
            %li
              = link_to mypage_dashboard_path, class: "sp-header-user-icon pc-header-nav-root" do
                %figure
                  %div
                    = image_tag current_user.image_url, width: 32
                %div マイページ
              .pc-header-user-box.pc-header-mypage-box
                .pc-header-mypage-state.text-center
                  %figure
                    %div
                      = image_tag current_user.image_url, width: 60
                    %figcaption
                      = current_user.name
                  %ul.pc-header-mypage-review-listing
                    %li
                      %a{:href => "https://www.mercari.com/jp/mypage/review/history/"} 評価:
                    %li
                      %a{:href => "https://www.mercari.com/jp/mypage/listings/listing/"} 出品数:
                  %ul.pc-header-mypage-sales-point
                    %li
                      %a.clearfix{:href => "https://www.mercari.com/jp/mypage/sales/"}
                        .l-left 売上金
                        .l-right
                          = number_to_currency(current_user.sales_proceed, unit: "¥", precision: 0)
                          %i.icon-arrow-right
                    -# %li
                    -#   %a.clearfix{:href => "https://www.mercari.com/jp/mypage/point/"}
                    -#     .l-left ポイント
                    -#     .l-right
                    -#       P 0
                    -#       %i.icon-arrow-right
                %ul.mypage-nav-list
                  %li
                    = link_to mypage_favorite_list_path, class: "mypage-nav-list-item" do
                      いいね！一覧
                      %i.icon-arrow-right
                  %li
                    = link_to "", class: "mypage-nav-list-item" do
                      出品する
                      %i.icon-arrow-right
                  %li
                    = link_to mypage_ex_exhibiting_path, class: "mypage-nav-list-item" do
                      出品した商品 - 出品中
                      %i.icon-arrow-right
                  %li
                    = link_to mypage_ex_trading_path, class: "mypage-nav-list-item" do
                      出品した商品 - 取引中
                      %i.icon-arrow-right
                  %li
                    = link_to mypage_ex_settle_path, class: "mypage-nav-list-item" do
                      出品した商品 - 売却済み
                      %i.icon-arrow-right
                  %li
                    = link_to mypage_pur_trading_path, class: "mypage-nav-list-item" do
                      購入した商品 - 取引中
                      %i.icon-arrow-right
                  %li
                    = link_to mypage_pur_past_trade_path, class: "mypage-nav-list-item" do
                      購入した商品 - 過去の取引
                      %i.icon-arrow-right
            -# %li{"data-id" => "pc-header-user-nav", "data-key" => "notification_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
            -#   %a.pc-header-nav-root{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/notification/"}
            -#     %i.icon-bell
            -#     %span お知らせ
            -#   %ul.pc-header-user-box.pc-header-notification-box.mypage-item-list{"data-id" => "pc-header-user-items"}
            -#     %li
            -#       %a.mypage-item-link{:href => "https://item.mercari.com/jp/m146643154/"}
            -#         %figure
            -#           %img{:alt => "", "data-pin-nopin" => "true", :src => "//static-mercari-jp-imgtr2.akamaized.net/thumb/members/402834782.jpg?1476007718"}/
            -#         .mypage-item-body
            -#           .mypage-item-text カード専門さん、他5名が「白猫テニス セリナ」にコメントしました
            -#           %time
            -#             %i.icon-time
            -#             %span 10 日前
            -#         %i.icon-arrow-right
            %li{"data-id" => "pc-header-user-nav", "data-key" => "todo_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              %a.pc-header-nav-root{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/todo/"}
                %i.icon-check
                %span やることリスト
              %ul.pc-header-user-box.pc-header-todo-box.mypage-item-list{"data-id" => "pc-header-user-items"}
                %li.mypage-item-not-found.bold 現在、やることリストはありません
